#   Vim stuff.
*.swp

#   KDevelop stuff.
amara.kdev4
.kdev4/
*.kate-swp

#   macOS stuff.
.DS_Store

#   Xcode stuff.
amara.xcodeproj/project.xcworkspace/
amara.xcodeproj/xcuserdata/

#   Bison object docs.
minia.tab.h
minia.tab.c

#   Bison 2.3 reporting stuff (macOS High Sierra - no Homebrew use).
src/bsn/minia.vcg
src/bsn/minia.output

#   Bison 3.1 reporting stuff.
src/bsn/minia.report
src/bsn/minia.dot

#   Flex object docs.
lex.minia.c

#   Bison object docs.
minia.tab.h
minia.tab.c

#   Bison reporting.
src/bsn/minia.report
src/bsn/minia.dot

#   Object docs.
build/debug/*.o
build/release/*.o
build/debug/amara_g
build/release/amara
# FIXME REMOVE THIS LEGACY.
amara_g
# FIXME REMOVE THIS LEGACY.
amara

#   macOS debugging symbols.
amara_g.dSYM/

#   `gprof` stuff.
gmon.out

#   GCC coverage output docs.
build/debug/*.gcno
build/release/*.gcno
# FIXME REMOVE THIS LEGACY.
*.gcno

#   Coverage raw data.
*.gcda

#   `gcov` output docs.
*.gcov

#   `lcov` output docs.
lcov.info

#   `lcov`'s `genhtml` output docs.
gcov_results/

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.l

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.y
