#   Vim stuff.
*.swp
*.swo

#   KDevelop stuff.
amara.kdev4
.kdev4/
*.kate-swp

#   macOS stuff.
.DS_Store

#   Xcode stuff.
amara.xcodeproj/project.xcworkspace/
amara.xcodeproj/xcuserdata/
amara.xcodeproj/xcshareddata/

#   Bison object docs.
minia.tab.h
minia.tab.c

#   Bison 2.3 reporting stuff (macOS High Sierra - no Homebrew use).
# XXX One of `src/bsn/minia.vcg` and `build/src/bsn/minia.vcg` should
# XXX likely go out at some point.
src/bsn/minia.vcg
build/src/bsn/minia.vcg
src/bsn/minia.output

#   Bison 3.1 reporting stuff.
src/bsn/minia.report
src/bsn/minia.dot

# TODO    Document this. */
build/src/bsn/minia.l
build/src/bsn/minia.y
build/src/bsn/minia.dot
build/src/bsn/minia.output

#   Flex object docs.
build/src/bsn/lex.minia.c
# TODO     Make it so this doc appear only in `BASE/build/src/` and
# TODO   never in `BASE/src/`.
src/bsn/lex.minia.c

#   Bison object docs.
build/src/bsn/minia.tab.h
build/src/bsn/minia.tab.c
# TODO     Make it so these docs appear only in `BASE/build/src/` and
# TODO   never in `BASE/src/`.
src/bsn/minia.tab.h
src/bsn/minia.tab.c

#   Bison reporting.
src/bsn/minia.report
src/bsn/minia.dot

#   Object docs (the general lines).
build/src/*.c
build/src/*.cpp
build/src/*.cc
build/src/*.h
build/src/*/*.c
build/src/*/*.cpp
build/src/*/*.cc
build/src/*/*.h
build/release/*.o
build/release/amara_not_stripped
build/release/amara
build/debug/*.o
build/debug/amara_g
build/debug/stripped_amara_g

#   Object docs (the specific lines meant for Cygwin builds).
build/release/amara_not_stripped.exe
build/release/amara.exe
build/debug/amara_g.exe
build/debug/stripped_amara_g.exe

#   Object docs (the specific lines meant for Cygwin builds). This one is obsolete and maintained for backward compatibility, for a while. Probably not important, but probably worth it.
build/debug/amara_g_not_stripped.exe

#   Transitional object docs (REMOVE ME).
build/release/stripped_amara
build/debug/amara_g_not_stripped

#   macOS debugging symbols.
amara_g.dSYM/

#   `gprof` stuff.
gmon.out

#   GCC coverage output docs.
build/release/*.gcno
build/debug/*.gcno

#   Coverage raw data.
build/release/*.gcda
build/debug/*.gcda

#   `gcov` output docs.
*.gcov

#   `gcov` standard and error output, recorded.
gcov_stdout
gcov_stderr

#   `lcov` output docs.
lcov.info

#   `lcov`'s `genhtml` output docs.
gcov_results/

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.l

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.y

#   Doxygen stuff.
doxygen_reports/

#   Miscellaneous Cygwin stuff.
*.exe.stackdump
