#   Vim stuff.
*.swp

#   KDevelop stuff.
amara.kdev4
.kdev4/
*.kate-swp

#   macOS stuff.
.DS_Store

#   Xcode stuff.
amara.xcodeproj/project.xcworkspace/
amara.xcodeproj/xcuserdata/
amara.xcodeproj/xcshareddata/

#   Bison object docs.
minia.tab.h
minia.tab.c

#   Bison 2.3 reporting stuff (macOS High Sierra - no Homebrew use).
# TODO this one right below is deprecated.
src/bsn/minia.vcg
build/src/bsn/minia.vcg
# TODO this one right below is deprecated.
src/bsn/minia.output
build/src/bsn/minia.output

#   Bison 3.1 reporting stuff.
src/bsn/minia.report
src/bsn/minia.dot

#   Flex object docs.
lex.minia.c

#   Bison object docs.
minia.tab.h
minia.tab.c

#   Bison reporting.
src/bsn/minia.report
src/bsn/minia.dot

#   Source docs copied over to the build directory, in order to build them
# from corresponding source extensions (*.c for C docs, *.cpp for C++ docs).
build/src/bsn/minia.y
build/src/bsn/minia.l
build/src/*.h
build/src/*/*.h
build/src/*.c
build/src/*/*.c
build/src/*.cpp
build/src/*/*.cpp

#   Object docs.
build/debug/*.o
build/release/*.o
build/debug/amara_g
# TODO this one below is deprecated.
build/debug/stripped_amara_g
build/debug/amara_g_not_stripped
build/release/amara
# TODO this one below is deprecated.
build/release/stripped_amara
build/release/amara_not_stripped

#   macOS debugging symbols.
amara_g.dSYM/

#   `gprof` stuff.
gmon.out

#   GCC coverage output docs.
build/debug/*.gcno
build/release/*.gcno

#   Coverage raw data.
build/debug/*.gcda
build/release/*.gcda

#   `gcov` output docs.
*.gcov

#   `gcov` standard and error output, recorded.
gcov_stdout
gcov_stderr

#   `lcov` output docs.
lcov.info

#   `lcov`'s `genhtml` output docs.
gcov_results/

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.l

#   Miscellaneous coverage stuff. This is a symbolic link as a
# workaround for a presentation issue in `lcov`.
build/debug/minia.y

#   Doxygen stuff.
doxygen_reports/
